*{
    box-sizing: border-box;
    background-color: #F5F5F5;
}
body{
    margin: 0;
    padding: 20px;
}
header{
    text-align: center;
    background-color: white;
    padding: 10px;
}
.name{
    background-color: white;
}
header img{
    height: 200px;
}
.header_text{
    width: 30%;
    text-align: center;
    background-color: white;
}
/* .text-section{
    width: 100%;
    text-align: center;
    background-color: white;
} */
ul, li, .body_text,a{
    background-color: #DFD7BF;
}
.early{
    margin-top: 0px;
}
.body_text_section{
    margin: 0px 40px 20px 40px;
}
.bottom, ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.bottom{
    padding-top: 20px;
}
a{
    color: #eb800e;
    text-decoration: none;
}
a:hover{
    color: blue;
} 
a:visited{
    color:seagreen;
}
.main_list{
    list-style-type: none;
}